* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 700vh; */
    overflow-x: hidden;
    height: 412vh;
}

img.bgref {
    opacity: 0.5;
    position: inherit;

}

div.headerbg {
    /* position: fixed; */
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 17.5vh;
    /* background-color:; */
    border-bottom: 1px solid #eee;
}

/* headertop */

div.headertop {
    width: 100%;
    height: 12vh;
    /* border-bottom: 1px solid #eee; */
}

div.first {
    width: 100%;
    height: 12vh;
    /* border: 1px solid black; */
}

div.second {
    width: 100%;
    height: 12vh;
    /* border: 1px solid black; */
}

div.third {
    width: 100%;
    height: 12vh;
    /* border: 1px solid black; */
}

div.fourth {
    width: 100%;
    height: 12vh;
    /* border: 1px solid black; */
}

div.fifth {
    width: 100%;
    height: 12vh;
    /* border: 1px solid black; */
}

img.googlelogo {
    margin-left: 1rem;
    margin-top: 1.5rem;
    height: 2.5rem;
    cursor: pointer;
}

div.searchbar {
    width: 92vh;
    height: 3rem;
    border: 2px solid #eee;
    margin-left: 2rem;
    margin-top: 1.2rem;
    border-radius: 40px;
    outline: none;
    cursor: pointer;
}

div.searchbar:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

input.searchbarinput {
    width: 77vh;
    outline: none;
    margin-top: 0;
    height: 2.6rem;
    font-family: sans-serif;
    border: none;
    margin-left: 1rem;
    border-radius: 40px;
}

img.searchbaricon {
    height: 1.5rem;
}

i.searchbaricon {
    margin-left: 1rem;
    color: #669CF6;
    font-size: 1.2rem;
}

i.driveicon {
    margin-left: 6.2rem;
    margin-top: 2rem;
    font-size: 1.2rem;
    /* padding-top: 10px; */
    color: #666;
    display: flex;
    cursor: pointer;
}

img.userimage {
    border-radius: 100px;
    height: 35px;
    margin-left: 0px;
    padding-left: 0px;
    margin-top: 1.4rem;
    cursor: pointer;
}

/* headerbottom */


div.hbnav-wrapper {
    display: flex;
    /* border: 1px solid black; */
    width: 650px;
    height: 2.3rem;
    margin-left: 20vh;
    padding: 0;
}

/* hb nav */
ul.hbnav {
    list-style: none;
    display: inline-flex;
}

li.hbnavitem {
    padding: 5px 10px 0px 20px;
    font-size: 0.8rem;
    color: #777777;
    font-weight: 600;
    cursor: pointer;
}

li.hbnavitem:hover {
    color: #1A73E8;
}

li.hbnavitem.right {
    margin-left: 2.2rem;
}

li.hbnavitem i {
    margin-right: 5px;
}

button.hbnavbtn {
    font-size: 0.8rem;
    color: #777777;    
    background: white;
    width: 3.5rem;
    font-weight: 600;
    height: 1.8rem;
    border: none;
}

button.hbnavbtn:hover {
    background: #F4F4F4;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5)
}

li.hbnavitem.selected {
    color: #1A73E8;
    padding-bottom: 2rem;
    border-bottom: 3px solid #1A73E8;
}

div.numresults {
    display: flex;
    /* border: 1px solid black; */
    width: 650px;
    height: 2.3rem;
    margin-left: 20vh;
    padding: 0;
}

div.numresults p {
    color: #777777;
    font-weight: 600;
    font-size: 0.8rem;
    padding: 12px 0 0 25px;
}

/* main section */

div.link-section {
    margin-top: 10px;
    display: flex;
    /* border: 1px solid black; */
    width: 650px;
    height: 6.5em;
    margin-left: 20vh;
    padding: 0;
    margin-bottom: 20px;
}

div.link {
    margin-left: 26px;
    margin-top: 10.5px;
}
h2.main-link {
    font-size: 1.175em;
    font-weight: 400;
    padding-bottom: 0;
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h2.main-link a{
    color: #1A0DAB;
}

p.sub-link {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.9em;
    cursor: pointer;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
}

p.body-link {
    font-size: 0.85em;
    color:#404040;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
}

p.body-link span {
    color: #666;
}

p.body-link b {
    color: #666;    
}

/* people also ask */

div.alsoAsk {
    /* display: flex; */
    border: 1px solid #c0c0c0;
    width: 638px;
    height: 13.5em;
    margin-left: 21vh;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 15px;
    margin-bottom: 0;
}

div.question {
    border-bottom: 1px solid #c0c0c0;
    width: 100%;
    height: 2.7em;    
    cursor: pointer;
}

div.question h2 {
    font-family: sans-serif;
    font-size: 1.1em;
    padding: 10px 0px 0px 14px;
    color:#333333;
}

div.question h2.heading {
    color:  #737373;
    /* font-weight: 600; */
}

div.last {
    border-bottom: none;
}

div.question h2 i.right {
    float: right;
    margin-right: 20px;
    color:  #737373;
}

div.feedback-wrapper {
    /* border: 1px solid #c0c0c0; */
    width: 638px;
    height: 1.6em;
    margin-left: 21vh;
    padding-right: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: right;
}

div.feedback-wrapper a.feedback {
    font-style: italic;
    font-size: 0.9em;
    color:  #737373;  
}


/* lower box */

div.lowerbox1 {
    border: 1px solid #c0c0c0;
    width: 638px;
    height: 13.5em;
    margin-left: 21vh;
    /* padding: 0; */
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 15px;
    margin-bottom: 0;
    margin-top: 60px;
    padding-left: 30px;
    padding-top: 10px;
    padding-right: 120px;

}

div.lowerbox1 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    margin-bottom: 0px;
    color:  #737373;  

}

div.lowerbox1 h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    margin-bottom: 0px;
    
}

div.boxcover {
    /* border: 1px solid black; */
    height: 8em;
    margin-top: 25px;
}

div.col-2 {
    /* border: 1px solid black; */
    width: 100%;
    height: 8em;
    padding: 0px 10px 0px 10px;
}

div.col-2 h6{
    margin-top: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}

div.col-2 img {
    cursor: pointer;
}

div.col-2 h6 a {
    color: #1A0DAB;

}

div.box2 {
    margin-top: 40px;
}

/* related */

div.related {
    /* border: 1px solid #c0c0c0; */
    width: 638px;
    height: 11.5em;
    margin-left: 21vh;
    /* padding: 0; */
    margin-top: 20px;
    /* margin-bottom: 10px; */
    border-radius: 15px;
    margin-bottom: 0;
    margin-top: 50px;
    padding-left: 30px;
    padding-top: 10px;
    padding-right: 10px;
}

div.related h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

div.related div.col-6 {
    /* border: 1px solid black; */
    height: 8em;
    padding-top: 10px;
}

div.related div.col-6 h6 a {
    color: #1A0DAB;
    font-size: 0.8em;
}

/* googlenext */

div.googlenext {
    /* border: 1px solid #c0c0c0; */
    width: 638px;
    height: 5em;
    margin-left: 21vh;
    /* padding: 0; */
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 15px;
    margin-bottom: 0;
    /* margin-top: 50px; */
    padding-left: 10%;
    /* padding-top: 10px; */
    padding-right: 10px;
}

div.googlenext img {
    cursor: pointer;
}

/* footer */

div.footer {
    width: 100%;
    height: 5em;
    border: 1px solid #c0c0c0;
    margin-top: 40px;
    background-color: #d9d9d9;
}

div.footer1 {
    height: 2.5em;
    border-bottom: 0.5px solid #c0c0c0;
    padding-top: 12px;
}

div.footer1 h6 {
    color: #808080;
    font-family: sans-serif;
    font-size: 0.9em;
    margin-left: 12em;
}

div.footer1 h6 i {
    font-size: 0.6em;
}

span.black {
    color:#333333;
}

div.lastnav {
    padding-left: 13px;
    padding-top: 7px;
}